
$theme-colors: (
  'primary': #0b233f,
  'primary-0': #0b233f,
  'primary-1': #0f3259,
  'primary-2': #4c679d,
  'primary-3': #2f38b0,
  'primary-4': #5277c2,
  'primary-5': #1c5480,
  'primary-6': #94abd7,
  'secondary': #7898ad,
  'secondary-0': #fafafb,
  'secondary-1': #dee7ed,
  'secondary-2': #91aec1,
  'secondary-3': #7e98ab,
  'secondary-4': #637b89,
  'secondary-5': #4b5c66,
  'secondary-6': #323e45,
  'tertiary': #2c8081,
  'tertiary-0': #e2efef,
  'tertiary-1': #82c9c9,
  'tertiary-2': #339698,
  'tertiary-3': #2c8081,
  'tertiary-4': #256b6a,
  'tertiary-5': #1e5353,
  'tertiary-6': #123938,
  'quaternary': #eee23e,
  'quaternary-0': #f6f4d9,
  'quaternary-1': #F5DD90,
  'quaternary-2': #F4ECD6,
  'quaternary-3': #f39d1f,
  'success': #69ca8a,
  'failure': #e00033,
  'success-0': #007a68,
  'neutral': #e1e5e9,
  'light': #e1e5e9,
  'darker': #9ba0a5,
  'pale': #e8e8e8
);

$font-family-base: 'Fira Sans', sans-serif;
$headings-font-family: 'DM Serif Display', serif;
$enable-rounded: true;
$enable-shadows: false;
$enable-gradients: false;
$enable-transitions: true;
$enable-print-styles: true;
$bv-enable-table-stacked: true;
$body-bg: RGBA(242, 242, 242, 0.2);

// BOOTSTRAP VARIABLES DECLARED ABOVE
@import 'bootstrap/scss/bootstrap.scss';
@import 'bootstrap-vue/src/index.scss';
@import 'vue-multiselect/dist/vue-multiselect.min.css';

// OVERRIDES BELOW
.b-table-sticky-header {
  margin-bottom: 0;
  & > .table.b-table > thead > tr > th {
    top: -1px !important;
  }
}
.tbl-w350 {
  max-width: 350px;
}
.tbl-w200 {
  max-width: 200px;
}
.tbl-w400 {
  max-width: 400px;
}
.respect-linebreak {
  white-space: pre-line;
  padding-top: 0;
}
.multiselect {
  // width: 300px;
  border-color: #0f3259;
}
.multiselect__spinner:after,
.multiselect__spinner:before {
  border-top-color: #0b233f;
}
.multiselect__tag,
.multiselect__option--highlight,
.multiselect__option--highlight:after {
  background: #0b233f;
}
.multiselect__tag-icon:hover {
  background:#0b233f;
}
.multiselect__tag-icon:after {
  color:#b1c4d2;
}
.multiselect__option--selected.multiselect__option--highlight,
.multiselect__option--selected.multiselect__option--highlight:after,
.multiselect__option--group-selected.multiselect__option--highlight,
.multiselect__option--group-selected.multiselect__option--highlight:after {
  background:#e94f3c;
}